.logo {
    margin: auto;
    padding: 15px;
    max-width: 1230px;
}
label{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
input{
    height: 50px;
    width: 350px;
    margin-top: 0%;
}
h1{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-head {
    background: #00b4d5;
    height: 70px;
    width: 100%;
}
#con{
    margin: 2%;
}
input[type="submit"]{
    background-color: #eec417;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px 6px 6px 6px;
    border: 2px solid;
    height: 50px;
    width: 360px;
    cursor: pointer;
}
label[for="creer"]{
    color: #00b4d5;
    font-family: "Rubik", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
label[for="mtp"]{
    color: #00b4d5;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
    
}
img{
    width: 120px;
    margin-left: 600px;
    margin-top: 12px;
    cursor: pointer;
}